<div class="">
  <div class="con">
    <div class="canvas">
      <h1>Tracker App</h1>
      <div class="">
        <div class="child">
          <label for="">Name:</label><input [(ngModel)]="name" type="text">
        </div>
        <div class="child">
          <label for="">Date:</label><input [(ngModel)]="date" type="date">
        </div>
        <div class="child">
          <label for="">Priority:</label>
          <select [(ngModel)]="priority" name="" id="">
            <option value="High">High</option>
            <option value="Normal">Normal</option>
            <option value="Low">Low</option>
          </select>
        </div>
        <div class="" style="text-align: right;">
          <button (click)="addTodo()" style="width: 40%;">post</button>
        </div>
      </div>

    </div>
    <div class="displayTodos">
      <div class="abs">

        <label for="">
          Filter by priority:
        </label>
        <select [(ngModel)]="defpriority" (change)="filterEm()" name="" id="">
          <option value="All">All</option>
          <option value="High">High</option>
          <option value="Normal">Normal</option>
          <option value="Low">Low</option>
        </select>
      </div>
      <div class="todos">
        <h1 style="text-align: center;" *ngIf="displayTodos.length===0">Empty</h1>
        <div class="todo" *ngFor="let i of displayTodos">
          <div [ngClass]="{
            'high': i.priority==='High',
            'low': i.priority==='Low',
            'normal': i.priority==='Normal',
          }" class="Box"></div>
          
          <input [(ngModel)]="i.done" type="checkbox" name="" id="">
          <div class="todoe">
            <p [ngClass]="{'completed': i.done}" class="head">{{i.name}}</p>
            <p>{{i.date}}</p>
            <p>{{i.priority}}</p>
            <p *ngIf="isOverDew(i.date)" style="color: red;">!!Overdew</p>

          </div>
        </div>
      </div>
    </div>
    <!-- <div class="">
      child class html ////
      <p>child works!</p>
      <p>{{msg}}</p>
      <button (click)="sendMsgToParent()">App</button>
      <button (click)="sendArr()">Arr Send</button>
      /////
      <app-child msg="Hello From prarent" (msgToParent)="handleMessage($event)" />
      <app-child (arrToParent)="handleArray($event)" />
      {{mogi}}
      <li *ngFor="let i of arr">
        {{i}}
      </li>
    </div> -->
  </div>
</div>
<router-outlet />